<!DOCTYPE html>
<html>
<head>
    <title>Guardian Ride</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <h1>GUARDIAN RIDE</h1>
    
    <div id="container">
        <!-- Video feed -->
        <video id="videoElement" autoplay playsinline></video>

        <!-- Driver's name and State display box -->
        <div id="driverInfo">
            <div id="driverName"></div>
            <button id="registerButton">Register Driver</button>
            <div id="stateBox">
                <h2>Driver State</h2>
                <pre id="stateText"></pre> <!-- State will be displayed here -->
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>
